.example-card {
    max-width: 400px;
    margin-bottom: 8px;
    position: absolute; 
    left: 34%; 
    top: 35%;
  }

  .card-price {
    max-width: 340px;
    font-size: 1rem;
    padding: 0;

  }
  .homeFont{
    font-size: 1rem;
  }


  @media (min-width: 576px) and (max-width:768px){
    .example-card {
      max-width: 400px;
      left: 30%; 
    }  
  }

  @media (max-width:576px){
    .example-card {
      width: 100%;
      left: 1%; 
    }  
  }