

<app-modal-text 
    [cartText]="textSend" 
    *ngIf="textNone"   
    (successfull)="closeModalText($event)" >
</app-modal-text>
<mat-spinner  value="10" *ngIf="loading" style="position: absolute; top:50%; left:50%;"></mat-spinner>

<section class="main-box main-box-login" *ngIf="!dataLogin">
 
    <article class="pre-login pre-login2">
            <div class="  contain-img"></div>
    </article>

    <article class="login login2">
        <div class="login-cube2">
            <h1 class="access">A la carta</h1>
            <p > Welcome! What are you going to order? </p>
            
            <form #projectForm="ngForm" (ngSubmit)="entrar(projectForm)">
                <div>
                    <input 
                        type="loging"  
                        name="loging" 
                        #login="ngModel"   
                        [(ngModel)]="loging"
                        class="idd-usser " 
                        placeholder="Enter your email" 
                        required
                    >
                </div>
                <div>
                    <input 
                        type="password" 
                        id="password" 
                        name="password" 
                        #passwords="ngModel" 
                        [(ngModel)]="password"
                        class="idd-usser" 
                        placeholder="Enter your password"  
                        required>
                </div>
                
                <div class="mt-auto  p-1">
                    <input
                        class="btn btn-success btn-lg" 
                        type="submit" 
                        value="Sing Up" 
                        [disabled]="!projectForm.form.valid">
                       <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" >

                        </ngx-loading>-->
                </div>
                
        </form>
       
    </div>
    </article>
</section>